*{
    margin:0;
    padding:0;
}

.ball{
    width:100px;
    height:100px;
    background-color: chocolate;
    border-radius:50%;
    border: 5px solid red;
    margin: 50px auto;

    animation-duration:1s;
    animation-name: bounce;
    /* animation-timing-function:ease in; */
    animation-iteration-count: infinite;
    /* animation-direction:alternate; */
}

@keyframes bounce{
    /* 0%{
        transform:translateY(500px) ;
    } */

    100%{
        transform:translateY(500px) ;
    }
}
