div{
    width:350px;
    height:300px;
    border: 2px solid black;
}
.side-a{
    background-color: burlywood;
    z-index: 10;
    backface-visibility: hidden;
}

.side-b{
    background-color: aqua;
    /* transform: rotatey(180deg); */
}
.wrapper{
    position:relative;
    width: 350px;
    height:300px;
}
.wraper:hover{
    transform: rotateY(180deg);
}
.side-a, .side-b{
    position: absolute;
}

img{
    width:100%;
    height:100%;
}