*{
    padding:0;
    margin:0;
}

nav{
    background-color:beige;
}

ul{
    list-style:none;
}

li{
    margin-left:50px;
    padding:10px;
}

nav a{
    text-decoration:none;
    color: red;
    font-size:1.8rem;
    font-weight:800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing:2px;
}

i{
    margin:10px;
}

#heading{
    width:80vw;
    margin:30px auto;
    border-radius:30px;
    background-color:lightgreen;
    text-align: center;
}
#heading h1{
    padding:10px;
    color: purple;
    font-size:2rem;
}

#heading p{
    font-size:1.4rem;
    padding:10px;
}

#container{
    width:80vw;
    margin:20px auto;

    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    /* grid-template-rows:250px; */
    grid-auto-rows:250px;
    gap:20px;
}

div{
    border-radius:10px;
    /* background-color: aquamarine; */
    position: relative;
}

div img{
    height:100%;
    width:100%;
    border-radius:20px;
    transition-timing-function:linear;
    transition-duration:300ms;
}
div img:hover{
    cursor: pointer;
    opacity:0.5;
    filter:grayscale(80%);
    transform: scale(1.05);
}

div i{
      position: absolute;
      top:47%;
      left:47%;
      font-size:30px;
      transform: scale(0);
      transition-duration:300ms;
      transition-timing-function:linear;
}


div:hover i{
    transform:scale(2.2);
}
 